{% extends "base.html" %}

{% block title %}SKit{% endblock %}

{% block content %}
<div class="centered">
    <h1 class="copyright" style="color: #F3971C;">Dear Programmers,</h1>
    <h2 class="copyright" style="color: #151012;">
        This file belongs to Kevin Veros Hamonangan<br>
        and Fandi Fladimir Dachi and is a part of<br>
        our last project as the student of Del<br>
        Institute of Technology, Sitoluama.<br>
        Please contact us via Instagram:<br>
        sleepingnext and fandi_dachi<br>
        before copying this file.<br>
        Thank you, buddy. 😊
    </h2>
</div>
{% endblock %}